{% extends 'base.html' %}
{% block content %}
<h1>
{# FIXME: список внутри заголовка. Вам такая верстка странной не кажется? #}
    <ul>
        {% for letter in alphabet %}
        <li style="display: inline;">
            <a href="{% url 'countries-list' letter %}">{{ letter }}</a>
        </li>
        {% endfor %}
    </ul>
</h1>
<h2>Список стран</h2>
<ol>
    {% for country in page_obj %}
    <li><a href="{% url 'country-detail' country %}">{{ country }}</a></li>
    {% endfor %}
</ol>
<nav>
    <ul>
        {% for p in page_obj.paginator.page_range %}
        <li style="display: inline;">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}
